/*Date : 2021/??/??*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', sans-serif;
	/* If Font El Messiri Not Wroked */
	font-family: 'Tajawal', sans-serif;
    background-color: #131722;
    scroll-behavior: smooth;
	direction: rtl;
}

:root {
    --main-color: #eba452;
}

li>a {
    padding: 13px;
    color: #fff;
    text-decoration: none;
    transition: color.3s;
}

li>a:hover, .active {
    color: #eba452;
}

/* header */

header {
    padding-top: 16px;
    z-index: 111;
    width: 100%;
    position: absolute;
}

.logo {
    width: 222px;
}

.logo>img {
    width: 100%;
}

input[type="search"] {
    padding: 19px;
    border-radius: 11px;
    text-align: right;
    border: 0;
    width: 21vw;
    border-top: 2px solid #eba452;
    height: 25px;
    font-size: 13px;
    font-family: 'El Messiri';
    transition: .3s;
    position: relative;
}

:focus-visible {
   outline: none;
}

ul {
    padding: 10px;
}

::placeholder {
    color: #777;
    font-size: 14px;
    text-align: right;
}

@media (max-width:992px) {
    input[type="search"] {
        width: 60vw;
    }
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

nav>ul li {
    display: inline-block;
    color: white;
    font-size: 24px;
}

/* end header */

/* slider images */

.container {
    height: 100vh;
    z-index: 1;
    /* width: calc(100vw - 17px); */
    position: relative;
    overflow: hidden;
}

.slider-img {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-image: url(../images/bg1.webp);
    animation: slider 9.1s infinite linear;
}

.slider-img::before {
    height: 100vh;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(177deg, #19335A, #697A98);
    opacity: .6;
    width: 100%;
    content: "";
}

@keyframes slider {
    0% {
        background-image: url(../images/bg1.webp);
    }
    50% {
        background-image: url(../images/bg2.jpg);
        transform: scale(1.2) skew(7deg, 0deg);
    }
    100% {
        background-image: url(../images/bg3.jpg);
        transform: scale(1.3);
    }
}

/* end silder */

.solve {
    height: calc(100vh - 164.16px);
    position: relative;
}

.info-title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 0;
    padding: 33px;
}

.title {
    color: white;
    padding-bottom: 3px;
    border-bottom: 2px solid #eba452;
}

.name-reader {
    font-style: normal;
    color: #eba452;
}

.disk {
    color: #fff;
    margin: 10px;
}

audio {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
    position: relative;
}

.title-cat {
    color: white;
    font-size: 16px;
    position: relative;
    margin: 22px;
    padding-bottom: 6px;
}

.line {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 147px;
    background-color: var(--main-color);
}

.title-cat {
    color: white;
    font-size: 16px;
    margin-top: 46px;
    position: relative;
    margin-bottom: 52px;
    padding-bottom: 6px;
}


.categorie-audio {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px;
    gap: 37px;
    color: white;
    margin: 20px;
    text-align: center;
}
.card {
    box-shadow: 0px 1px 0px 1px #eba452;
    border-radius: 12px;
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
	overflow: hidden;
}
.card:hover {
    transform: translatey(-10px);
	box-shadow: 1px 20px 20px 20px #eba45200;
	transition:.4s;
}
/* -2px 3px 0px #eba452;*/
.card > img {
    width: 100%;
    background: #131722;
    max-height: 60%;
    box-shadow: 0px -1px 0px 3px #eba452;
	margin-bottom: 15px;
	transition:.4s;
	height:140px;
}
.title-avatar {
    font-size: 15px;
}

.disk-avatar {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
}
button {
    width: 100%;
    background: #eba452;
    border: 0;
    margin-bottom: 6px;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    font-family: 'El Messiri';
    font-family: 'Tajawal', sans-serif;
    height: 33px;
    cursor: pointer;
    transition: opacity .3s;
}

button:hover {
    opacity: .8;
}

.foot {
    height: 39px;
    position: absolute;
    bottom: -1px;
    z-index: 9999999;
    width: 100%;
    background-image: linear-gradient( 180deg, #13172200, #131722);
}

.listen-more {
    color: white;
    font-size: 17px;
    position: absolute;
    padding: 10px;
    transform: translate(-28px, -41px);
}

.listen-more::before {
    content: " ......";
    color: #ffffff;
    text-shadow: -5px -9px 0px #eba452;
    float: left;
}

.listen-more::after {
    content: " ......";
    color: #eba452;
    text-shadow: 1px 11px 0px #ffffff;
}

.by {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    z-index: 99;
}

footer {
    background: white;
    box-shadow: 2px -3px 0px 2px #eba452;
    text-align: center;
    padding: 5px;
}

i.fas.fa-heart {
    color: red;
    margin: 10px;
    animation: haert;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    opacity: .4;
}

@keyframes haert {
    0% {
        transform: translatex(-25vw) scale(1.5);
    }
    100% {
        transform: translatex(25vw) scale(2.5);
    }
}

::-webkit-scrollbar-track {
    background: #131722;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #db9b52d6;
}