@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* body, html {
    background: rgb(59, 58, 58);
    color: whitesmoke;
    font-family: Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
} */

html,
body {
  place-items: center;
  background-color: teal;
  /*
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    */
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  overflow-y: hidden;
}

.sectionBack {
  padding: 1vh 0;
  place-self: center;
  align-self: center;
  background-color: #102f38;
  opacity: 95%;
  border-radius: 50px;
  margin: 2vh 5vh;
  overflow: scroll;
  height: 90vh;
  width: 90vw;
}

@media only screen and (max-width: 600px) {
  .sectionBack {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
    border-radius: 0;
    place-content: always center;
    align-content: always center;
  }
  body {
    background-color: #102f38;
    height: 100%;
    width: 100%;
    margin: 0;
    place-content: always center;
    align-content: always center;
  }
}

.sectionDiv {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 0 25px;
  width: auto;
  height: auto;
}
#headingText {
  color: cadetblue;
}
#headingText h1 {
  font-family: "Roboto";
  text-align: center;
  font-size: clamp(1rem, 5vw + 1rem, 4.25rem);
  margin-bottom: 1vh;
  font-weight: bold;
}

#headingText h4 {
  font-size: clamp(.2rem, 1vw + 0.5rem, 1.25rem);
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
  margin-bottom: clamp(.4rem, 1vw + 0.5rem, 1.25rem);;
}
h6 {
  color: cadetblue;
  text-transform: uppercase;
  font-size: clamp(.4rem, 1vw + 0.5rem, 1rem);

  margin: none;
}

.inputGaps {
  display: flex;
  gap: 0.5vh;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: clamp(1rem, 1vw + 1rem, 3rem);;
}
.btn,
.textInput {
  text-align: center;
  font-family: "montserrat";
  color: #5658c0;
  background-color: cadetblue;
  border: 2px solid black;
  padding-top: clamp(0.25rem, 1vw + 0.5rem, 1rem);
  padding-bottom: clamp(0.25rem, 1vw + 0.5rem, 1rem);
  padding-right: clamp(0.5rem, 1vw + 0.5rem, 2rem);
  padding-left: clamp(0.5rem, 1vw + 0.5rem, 2rem);
  border-radius: 20px;
  transition: color 0.25s, border-color 0.25s, transform 0.25s, box-shadow 0.25s;
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1rem);
}
.textInput:hover,
.btn:hover {
  border-color: #00cac0;
  box-shadow: 0em 0.5em 2em -0.5em #00cac0;
  color: black;
}
.btn:hover {
  transform: translateY(-0.25em);
}
div.btns > button {
  padding-top: clamp(0.25rem, 1vw + 0.5rem, 1rem);
  padding-bottom: clamp(0.25rem, 1vw + 0.5rem, 1rem);
  padding-right: clamp(3rem, 1vw + 0.5rem, 6rem);
  padding-left: clamp(3rem, 1vw + 0.5rem, 6rem);
  margin-bottom: 20px;
}
.textInput::placeholder {
  color: #5658c0;
}
.textInput:focus::placeholder {
  color: transparent;
}
.textInput:focus {
  outline: none;
}

/* .textInput {
  background-color: cadetblue;
  border-color: #00cac0;
  box-shadow: 0em 0.5em 2em -0.5em #00cac0;
  color: black;
  transform: translateY(-0.25em);
  cursor: text;
  background-color: ;
} */

#centerDiv {
  text-align: center;
  color: aliceblue;
  font-weight: bolder;
}
#centerDiv .challengeP,
p {
  text-align: center;
  font-family: "montserrat";
  padding: 1px;
  color: rgb(174, 211, 247);
  font-weight: bolder;
  font-size: clamp(1.1rem, 1vw + 0.5rem, 1.8rem);
}
#successMsg {
  font-size: clamp(0.7rem, 1vw + 0.5rem, 1rem);
font-style: italic;
  margin-top: clamp(0.25rem, 1vw + 0.5rem, 1rem);;
color: #5658c0;
/* text-shadow: 0px 0px 1px #353679 */
}