:root{
  --smoke: #002b36;
  --wine: #dc322f;
  --dark-smoke: #073642;
  --light-sky: #bed2e0;
  --darkish-sky:#bed2e040;
  --lemon: #b58900;
  --blackish: #2e4054;
  --blacky: #405366;
  --navy: #03314B;
  --orange: #f46b45;
  --mikan: #eea849;
  --backish-blue: #0b1320;
  --magenta: #d33682;
  --cyan:#2aa198;
  --lime: #859900;
  --light-yellow: #eee8d5;
}
body{
  font-family: Helvetica Neue, sans-serif;
  background-color: var(--smoke);
  color:var(--light-sky);
  margin:0px;
}
a{
  text-decoration: none;
  color: var(--light-sky);
}
kbd {
  font-size: large;
  border-radius: 2px;
  padding: 2px 4px;
  border: 1px solid var(--light-sky);
}
.centered{
  display: grid;
  place-items: center;
}
.bottom-10px{
  margin-bottom: 15px;
  margin-right: 9px;
}
.smoke-bkg{
  background-color: var(--dark-smoke);
}
.dashed-border{
  border: 1px dashed var(--darkish-sky);
}
.round-border{border-radius: 10px;}
.small{font-size: small;}
#topBtn{
  display: none;
  position: fixed;
  bottom: 100px;
  right:15px;
  z-index: 99;
  border: none;
  background-color: var(--light-sky);
  border-radius: 70px;
  width: 48px;
  height: 48px;
}
#topBtn::before{
  color: var(--smoke);
  font-size: 2em;
  content: "\22bc";
}
#play_btn{
  display: none;
  position: fixed;
  bottom: 30vh;
  right: 20px;
  z-index: 99;
  border: none;
}
#music{padding-top: 50px;}

/* Bottom menu and player*/
#currSong, #vol_input, .closeBtn, #list-icon, #listIcon{display: none;}
#player, #player2{
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 100;
  float:none;
  box-sizing: content-box;
  width: 100%;
  background-color: var(--dark-smoke);
  padding: 5px 0px;
}
#player{height: 48px;}
#player2{height: 64px;}
#player2 #gifElm{margin-top: 10px;}
#player img{padding-top: 5px;}
/*Equalizer elem anim*/
.equalizer {
  width: 80px;
  height: 35px;
  overflow: hidden;
  position: absolute;
}
.equalizer > div {
  width: 80px;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 0;
}
.equalizer span {
  display: block;
  width: 5px;
  height: 10%;
  margin: 25% 1px 0 2px;
  float: left;
  background: var(--light-sky);
}
.no-audio span{
  background: var(--smoke);
}
.equalizer span:nth-child(1) {
  animation: load 1s 1.2s infinite linear;
}
.no-audio span:nth-child(1){
  animation: none !important;
}
.equalizer span:nth-child(2) {
  animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(2){
  animation: none !important;
}
.equalizer span:nth-child(3) {
  animation: load 1s 1.4s infinite linear;
}
.no-audio span:nth-child(3){
  animation: none !important;
}
.equalizer span:nth-child(4) {
  animation: load 1s 0.8s infinite linear;
}
.no-audio span:nth-child(4){
  animation: none !important;
}
.equalizer span:nth-child(5) {
  animation: load 1s 0.5s infinite linear;
}
.no-audio span:nth-child(5){
  animation: none !important;
}
/* .equalizer span:nth-child(6) {animation: load 1s 1.2s infinite linear;}
.no-audio span:nth-child(6){animation: none !important;} */
/*vol_input
.volume-vertical{
  display: flex; position: fixed; bottom: 73px;
  transform:rotate(-90deg);  width: 80px;
}.volume-none{display: none;}*/
/*Playlist elements*/
.row:after{
  content:"";
  display:table;
  clear:both;
}
span{
  display: block;
  padding: 6px 5px;
}
#playList .row{
  border-bottom: 1px var(--light-sky) dashed;
}
.padding_10{padding: 10px;}
.padding_15{padding: 15px;}
.col3{width: 33%;}
.half_col{
  width: 25%;
  display: grid;
  place-items: center;
}
#artwork{margin-top: 20px;}

.col_23{width:23.5%;}
.col_50, .col2, .col_half{width: 50%;}
.col_40{width: 40%;}
.col_20{width: 10%;}
/*img{filter: opacity(30%);}*/
.col_artist{background-color: var(--dark-smoke);}
.colArtist{
  /*width: 65%;5px 10px*/
  padding: 5px 0px;}
.colImg{
  width: 100%;/*20%*/
  padding: 7px;
}
.colImg img, .col15 img{
  border-radius: 5px;
  margin-top: 5px;
}
.colTime{
  width: 15%;
  margin: 10px 0px;
  padding-right: 5px;
  padding-top: 5px;
}
#nowLabel{
  display: block;
  width: 100%;
  background-color: var(--wine);
  padding:8px;
  margin-bottom: 10px;
  position: fixed;
  top:0;
  z-index: 100;
  float: none;
}
#nowLabel h2, .close_btn h2{margin: 0px;}

.bottomText{
  /*width: 60%;float: left;
  background-image: linear-gradient(var(--light-sky),var(--smoke));
  opacity: 0.4; bottom: -22px;  left:5px;  width: 360px;*/
  margin-top: 5px;
  border-radius: 10px;
  padding: 15px 0px;
  font-size: small;
  text-align: center;
  background-color: var(--dark-smoke);
  height: 280px;
}
.bottomText h2, .bottomText h3{
  line-height:2em;
  margin: 4px;
}
.bottomText a{color: var(--light-sky);}
.bottomText #more_info{padding-top:15px;}
.align-right{text-align: right;}
.align-left{text-align: left;}
.headLabel{
  color: var(--lemon);
  font-weight: bold;
}
.oneLine{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lighter{font-weight: 400;}
*{box-sizing: border-box;}
.bkg_cd_case{
  background: no-repeat url("../assets/cd_case.svg");
  background-size: 300px;
  background-position-x: center;
}
#nowPlaying{
  background-position-y: bottom;
  padding: 20px;/*50px 20px*/
  height: 300px;
  width: 50%;
}

.bkg_cd_icon{
  height: 280px;
  background: no-repeat url("../assets/CD_icon.svg");
  background-position-x: center;
  margin-left: 28px;
  margin-top: -5px;
}
#coverCD img{margin-top: -5px;}
#coverCD{
  background-size:280px;
  display: grid;
  place-items: center;
}
.contain{
  position: relative;
  padding: 20px;
  background-size:290px;
  text-align: center;
}
.contain img{
  margin-top: -9px;
  margin-left: 25px;
}

.float_left{float: left;}
.no-padding{padding: 0;}
#playList{
  display: block;
  width: 50%;
  height: 80vh;
  overflow: auto;
}
/*Player controls*/
#play{ margin-top: -12px;}
.sp-margin{
  margin-top: -40px;
  padding-bottom: 12px;
}
.paused path{
  fill: var(--smoke);
  stroke: var(--smoke);
}
.paused circle{
  fill: var(--light-sky);
  stroke:var(--smoke);
}
.play_on circle{
  fill: var(--wine);
  stroke: var(--smoke);
}
.play_on path{
  fill: var(--light-sky);
  stroke: var(--light-sky);
}
#station_info, #stationInfo{
  background-color: var(--dark-smoke);
  position: fixed;
  width: 100%;
}
#station_info{bottom: 58px;}
#stationInfo{bottom: 68px;}
#stat_name h3{margin:0px;}
.col90{width:90%}
.col10{width: 10%;margin: 0px;}
.col15{width: 15%;}
.col30{width: 30%;}
.col70{
  width:70%;
  overflow: hidden;
}
#cover_title{padding-left: 10px;}
#cover_art{
  position: relative;
  text-align: center;
}
#cover_art img{
  filter: opacity(50%);/*blur(1px);*/
}
.above_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.no_desktop{display: none;}
/*.moving-text:hover{animation-play-state: paused;}#timer{margin-top: -15px;}*/
.moving-text{
  animation: marque 40s linear infinite;
  float: left;
  white-space: nowrap;
}
.outer_div{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.card{
  max-width: 23.5%;
  flex-basis: 23.5%;
  flex-grow: 0;
  flex-shrink: 0;
}
.cardTitle{margin-right: 10px;}

@media (max-width: 700px) {
  body{font-size: small;}
  .outer_div{
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  .card{
    max-width: 45%;
    flex-basis: 45%;
  }
  #coverCD img{margin-left: -30px;}
  .bkg_cd_icon{margin-left: 55px;}
  #now_song, .cardTitle,.no_mobil {display: none;}/*#artwork,*/
  #nowPlaying{
    background: none;/*url("../assets/group.svg") no-repeat;
    background-position-x: right;*/
    width: 100%;
    height: 480px !important;
  }
  .contain{
    width: 100%;
    padding: 0px;
    margin: 0;
    height: 340px;
  }
  .contain img{
    border-radius:10px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .colTime span, #timer {font-size: 0.9rem !important;}
  
  #downLink img{width: 32px;}
  .bottomText{
    padding: 5px 5px 20px 13px;  
    margin-left: -20px;
    width: 100vw;
    text-align: left;
    height: 240px;
    background-image: linear-gradient(var(--smoke),var(--darkish-sky));
  }
  
  /*.bottomText h2{line-height: normal;}*/
  /*.colImg img{width: 64px;height: 64px;}*/
  .colImg{padding: 0px 5px;}
  .colArtist{padding: 5px;}
  #playList{
    display: none;
    width: 100%;
    overflow: auto;
    height: 90vh;
  }
  .equalizer{width: 50px;}
  .equalizer span:nth-child(4), .equalizer span:nth-child(5){
    animation: none;
    display: none;
  }
  /*.equalizer span:nth-child(6) {
    animation: none;display: none;}*/ 
   
  .col_50{width: 80%;}
  .col_20{width: 20%;}
  .col2, #amia, #artwork{width: 100%;}
  #artwork{margin-top: 0px;}
  .col_23{width: 50%;}
  #listIcon{display: block;}
  #list-icon{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(--light-sky);
    border: 1px solid var(--light-sky);
  }
  /*ul li:nth-child(4){text-align: center;}*/
}
/*Equalizer elem animation*/
@keyframes load{
  0% {
    margin-top: 25%;
    height: 10%;
    background: var(--light-sky);
  }
  50% {
    height: 50%;
    margin-top: 0%;
    background: var(--light-sky);
  }
  100% {
    height: 10%;
    margin-top: 25%;
    background: var(--light-sky);
  }
}
@keyframes marque{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}
